* {
    
}

.cursor {
    cursor: pointer;
}

.hero {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.40)), url(hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 1px 10px #888888;
    vertical-align:middle;
}

.hero-about {
    padding-top: 5vh;
    padding-bottom: 5vh;
    position:relative;
    text-align: center;
}

.hero-avatar {
    border: 2px solid white;
    border-radius: 50%;
    max-height: 25vh;
}

.hero-about-greeting {
    color:white;
    font-family: monospace;
    font-size: 400%;
}

.hero-about-text {
    color: white;
    font-family: monospace;
    font-size: 200%;

}

.social-icons {
    font-size: 500%;
    color: white;
    padding: 2%;
}

.social-icons:hover {
    color: lightblue;
}

.award-link {
    vertical-align: bottom;
    color: lightblue;
}

.award-list {
    font-size: 150%;
}

ul {
    list-style-type: square;
}

article {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
}

section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

article {
    margin: 0 10px;
}

@media (min-width: 800px) {
article {
    max-width: 1140px;
    width:75vw;
    margin: 0 auto;
}
}

.degree {
    margin: 0;
    padding: 0;
}

.degree-title {
    font-size: 175%;
    margin: 0;
}

.degree-subtitle {
    font-size: 125%;
    margin: 0;
}

.awards-award {
    font-size: 125%;
}

.article-header {
    text-align: center;
}

.publications-publication-title {
    font-size: 170%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.publications-publication-location {
    font-size: 100%;
    padding: 0;
    padding-top: 10px;
    font-weight: 100;
}

.publications-publication-abstract {
    margin-bottom: 10px;
}

.publications-publication-authors {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.publications-publication-doi {
    font-family: monospace;
}

.article_separator {
    height: 5vh;
    margin: 5rem 0;
}